# Package specific ignores




# Composer stuff
/composer.lock
/vendor

# OS X stuff
.DS_Store
.Spotlight-V100
.Trashes

# Windows stuff
Desktop.ini
Thumbs.db
$RECYCLE.BIN/

# Sublime Text stuff
*.sublime-workspace

# Vim stuff
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
Session.vim
.netrwhist
*~

