* {
	padding:0px;
	margin:0px;
}

body {
	font-size:13px;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	color:#222;
}

h2 {
	margin-top:20px;
	margin-bottom:15px;
	color:rgb(30, 56, 77);
}

#top {
	position:fixed;
	left:0px;
	right:0px;
	top:0px;
	height:40px;
	background-color: rgb(30, 56, 77);
	background-image: -webkit-linear-gradient(left, rgb(254, 17, 47) 0%, rgb(254, 17, 47) 16.66%, rgb(255, 83, 19) 16.67%, rgb(255, 83, 19) 33.33%, rgb(255, 255, 155) 33.34%, rgb(255, 255, 155) 50%, rgb(77, 217, 46) 50.01%, rgb(77, 217, 46) 66.66%, rgb(10, 152, 226) 66.67%, rgb(10, 152, 226) 83.33%, rgb(94, 11, 145) 83.34%, rgb(94, 11, 145) 100%);
	background-position: -10% 0px;
	background-repeat: repeat-x;
	background-size: 50% 2px;
	border-bottom-color: rgb(6, 25, 40);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	box-shadow: rgba(0, 0, 0, 0.521569) 0px 2px 2px -2px;
	padding-top:2px;
}

#banner {
	padding: 100px 10px 10px;
	font-size:38px;
	margin-bottom:20px;
	text-transform: capitalize;
	font-weight:bold;
	color:#fff;
	letter-spacing: -2px;
	background-image: -webkit-linear-gradient(left, rgb(254, 17, 47) 0%, rgb(254, 17, 47) 16.66%, rgb(255, 83, 19) 16.67%, rgb(255, 83, 19) 33.33%, rgb(255, 255, 155) 33.34%, rgb(255, 255, 155) 50%, rgb(77, 217, 46) 50.01%, rgb(77, 217, 46) 66.66%, rgb(10, 152, 226) 66.67%, rgb(10, 152, 226) 83.33%, rgb(94, 11, 145) 83.34%, rgb(94, 11, 145) 100%);
}

#banner small {
	font-size: 14px;
	margin-right:3px;
	font-weight: bold;
	float:left;
}

.content {
	width:800px;
	margin:0px auto;
}

p {
	margin-bottom:20px;
}

a {
	color:#2c5b72;
	font-weight:bold;
	border-bottom: dashed 1px #2c5b72;
	text-decoration: none;
}

li:hover {
	background-color: #fff;
}

li:hover a {
	color:#336699;
}

nav li {
	list-style-type: none;
	float:left;
	padding:5px 10px;
	border-radius: 3px;
	margin-right: 10px;
	font-weight: bold;
	font-size: 11px;
}

nav li a {
	color: #fff;
	border:none;
}

nav ul {
	float:right;
	margin-top:7px;
}

#top h1 {
	float:left;
	margin-top: 3px;
	color:#fff;
	margin-right:15px;
}

#main {
	margin-top:70px;
	padding-bottom:50px;
}

#main li {
	background-color: rgb(30, 56, 77);
	float:left;
	padding:10px 15px;
	margin-right:10px;
}

#main li a {
	color:#fff;
	border:none;
}

#loading {
	text-align: center;
	position: fixed;
	left: 0px;
	right: 0px;
	background-color: #000;
	color: #fff;
	padding: 15px;
	height: 25px;
	bottom: -55px;
	opacity: 0.8;
	-moz-transition: bottom 0.4s ease-out;
	-webkit-transition: bottom 0.4s ease-out;
	-o-transition: bottom 0.4s ease-out;
	transition: bottom 0.4s ease-out;
}
.loading > #loading {
	bottom: 0px;
	font-weight: bold;
}

pre {
	background-color: rgb(30, 56, 77);
	color: #fff;
	padding:25px;
	border-radius: 10px;
}

hr {
	border:none;
	margin: 30px 0px;
}


a[data-prime]:hover:before, a[href]:hover:before {
	font-size: 9px;
	padding: 4px 8px;
	color: #333;
	position: absolute;
	margin-top: 30px;
	white-space: nowrap; 
	z-index: 20px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;  
	border-radius: 5px;  
	-moz-box-shadow: 0px 0px 4px #222;  
	-webkit-box-shadow: 0px 0px 4px #222;  
	box-shadow: 0px 0px 4px #222;  
	background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);  
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
	background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);  
	background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);  
	background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);  
	background-image: -o-linear-gradient(top, #eeeeee, #cccccc); 
}

a[href]:hover:before { 
	content: attr(href);
}

